@model GenreModelDisplay
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Genre List</h2>
    </div>
</div>
<br />
<div>
    <table class="table table-stripped border">
        <tr class="table-info">
            <th>
                Name
            </th>
            <th></th>
            @foreach (var item in Model.Genres)
            {
            <tr>
                <td>@item.GenreName</td>
                <td>
                <a asp-controller="Genre" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                <a asp-controller="Genre" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                </td>
            </tr>
            }
    </table>
</div>
<div class="col-6 text-right">
    <a asp-action="Create" class="btn btn-info">&nbsp;New Genre</a>
</div>

